{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Golden View Hotel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="golden">
    <meta content="" name="hotel">

    <!-- Favicon -->
    <link style="border-radius: 20px;" href="{% static 'images/images.jpg' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href=" {% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href=" {% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href=" {% static 'css/style.css' %}" rel="stylesheet">
</head>


<!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <div style="margin-top: 0%;" class="col-2">
                                <img src="{% static 'images/logo.png' %}" alt="Golden view hotel logo"
                                    height="100px" width="100px"
                                    style="border-radius: 20px;">
                                    
                            </div>

                            <div class="bg-primary" style="margin-left: 30%;margin-top: -29%;">
                                <a href="{% url 'index' %}"><h1 style="font-family: 'Times New Roman', Times, serif;" class="text-black mb-3">Amazima Restaurant</h1></a>
                            </div>
                            
                            
                            <p class="text-black mb-0">
                              Amazima Restaurant is located on Plot 14 kampala road Russell lane eagen house <br> p.o.box 2271 kampala-uganda 
                              
					</p>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <a href="https://www.google.com/maps/place/Amazima+Restaurant/@0.3118101,32.5829786,15z/data=!4m14!1m7!3m6!1s0x177dbd0d324bfa79:0x78ffe584d21a4838!2sAmazima+Restaurant!8m2!3d0.3118101!4d32.5829786!16s%2Fg%2F11tjy5yr64!3m5!1s0x177dbd0d324bfa79:0x78ffe584d21a4838!8m2!3d0.3118101!4d32.5829786!16s%2Fg%2F11tjy5yr64?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D"><p  class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Location</p></a>
                        <p class="mb-2">
                              <i class="fa fa-phone-alt me-3"></i>
                              <a href="tel:+256751283831" style="text-decoration: none; color: inherit;">+256 751 283831</a>
                          </p>

                          <p class="mb-2">
                              <i class="fa fa-phone-alt me-3"></i>
                              <a href="tel:+256789840004" style="text-decoration: none; color: inherit;">+256 789 840004</a>
                          </p>
                        <a href='https://chat.whatsapp.com/IwEXyvBBFttIPFYaQKTuEP' target="_blank"> <p class="mb-2"><i class=""><i class=" text-white bi bi-chat"></i> </i>Join our whatsapp group</p><a/>
                        <p class="mb-2"><i class="fa fa-envelope me-3" > </i> <a href="mailto: amazimafoods@gmail.com">amazimafoods@gmail.com</a></p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://x.com/AmazimaRest"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/p/Amazima-Restaurant-61565231297522/?locale=be_BY"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-tripadvisor"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                                {% comment %} <a class="btn btn-link" href="{% url 'contact' %}">Privacy Policy</a> {% endcomment %}
                                {% comment %} <a class="btn btn-link" href="">Terms & Condition</a> {% endcomment %}
                                <a class="btn btn-link" href="{% url 'contact' %}">leave a review</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                                <a class="btn btn-link" href="">Food & Restaurant</a>
                                <a class="btn btn-link" href="">outside Catering</a>
                                <a class="btn btn-link" href="">Event & Party</a>
                                <a class="btn btn-link" href="">Breakfast</a>
                                <a class="btn btn-link" href="">Lunch</a>
                                <a class="btn btn-link" href="{% url 'get-gallery' %}">Gallery</a>
                                <a class="btn btn-link" href="{% static "doc/amazima new 24 menul copy.pdf" %}">Menu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">amazima restaurant 2024</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://lighttech.vercel.app/about" target='_blank'>The Ligthtech</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="{% url 'index' %}">Home</a>
                                {% comment %} <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->