{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Amazima restaurant</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="golden">
    <meta content="" name="hotel">

    <!-- Favicon -->
    <link style="border-radius: 20px;" href="{% static 'images/logo.png' %}" rel="icon">

  

    <link rel="stylesheet" href="{% static 'admincss.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href=" {% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href=" {% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href=" {% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
      
    <div class="container-fluid bg-white p-0 ">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <div class="container-fluid bg-dark px-0 ">
            <div class="row gx-0 ">
      
                

                <div class="col-lg-9">

                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <div style="margin-top: 0%;" class="col-2">
                              <img src="{% static 'images/logo.png' %}" alt="Golden view hotel logo"
                                  height="100px" width="100px"
                                  style="border-radius: 20px;">
              
                          </div>
  
                          <div  class="col-lg-3 bg-dark d-none d-lg-block" style="margin-left: 0%;">
                              <a href="{% url 'index' %}" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center ">
                                  <h1 style="font-family: 'Times New Roman', Times, serif;" class="m-0 text-primary text-uppercase">Amazima Restaurant <br> </h1>
                              </a>
                          </div>
                        <a href="{% url 'index' %}" class="navbar-brand d-block d-lg-none">
                          <h1 
               style="font-family: 'Times New Roman', Times, serif;" class="m-0 text-primary text-uppercase">Amazima Restaurant</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div style="margin-left: 37%;" class="collapse navbar-collapse justify-content-between bg-transparent" id="navbarCollapse">
                          <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'index' %}" class="nav-item nav-link" onclick="home">Home</a>
                            <a id="about" href="{% url 'about' %}" class="nav-item nav-link " onclick="about">About</a>
                            <a id="services" href="{% url 'service' %}" class="nav-item nav-link" onclick="services">Services</a>
                            <a id="contact" href="{% url 'contact' %}" class="nav-item nav-link" onclick="contact">Contact</a>
                            {% comment %} <a id="user-welcome" href="{% url 'profile' %}" class="nav-item nav-link pointer text-truncate" >Hi-{{ username }}</a> {% endcomment %}
                            {% comment %} <a id="contact" href="" class="nav-item nav-link" onclick="contact">Sign Up</a> {% endcomment %}
                          </div>
                          <ul class="navbar-nav gap-2 mb-lg-0">
                            <li class="nav-item">
                              <a href="{% url 'cart' %}" class="btn btn-sm btn-light rounded py-2 px-2">Cart({{ items_on_cart }})</a>
                            </li>
                            <li class="nav-item">
                              <a href="{% url 'log_out' %}" class="btn btn-sm btn-outline-light rounded py-2 px-2">Logout</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
 
            {% if messages %}
            {% for message in messages %}
            <div class=" alert alert-{{ message.tags }} alert-dismissible fade show" role ="alert" style= "text-align : center;background-color: rgb(171, 188, 188);">
            <strong>
                  Info
            </strong> {{ message }}
            <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                  
            <span  aria-hidden="true"> &times;</span>
            </button>
            </div>
            {% endfor %}
            {% endif %}

            <div class="container " style="margin-bottom: 100px;">
                  <div class="main-body ">
                        <div class="sidebar">
      
                              <h3 class="text-light mb-4">Management</h3>
                              <nav class="nav flex-column">
                                  <a href="{% url 'admin' %}" class="nav-link "><i class="fas fa-home me-2"></i> Dashboard</a>
                                  <a href="{% url 'admin_profile' %}" class="nav-link active"><i class="fas fa-user me-2"></i> Profile</a>
                                  <a href="#" class="nav-link"><i class="fas fa-shopping-cart me-2"></i> Order</a>
                                  <a href="#" class="nav-link"><i class="fas fa-box me-2"></i> Product</a>
                                  <a href="#" class="nav-link"><i class="fa-regular fa-comment"></i> FeedBack</a>
                                  <a href="{% url 'log_out' %}" class="nav-link"><i class="fas fa-sign-out-alt me-2"></i> Logout</a>
                              </nav>
                          </div>
                  
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb" class="main-breadcrumb offset-2">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                          </ol>
                        </nav>
                        <!-- /Breadcrumb -->
                  
                        <div class="row gutters-sm offset-2">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="rounded-circle" width="150">
                                  <div class="mt-3">
                                    <h4>{{ username }}</h4>
                                   
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                        </div>

                        <div class="col-md-8">
                            <div class="card mb-3">

                              <div class="px-1 ">
                                    <div class="row">
                                          <div class="col-lg-8 col-11 mx-auto">
                                              <form role="form" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    
            
                                                    <div class="form-floating" style='margin-bottom:10px'>
                                                          <input type="text"  name="email" id="email"  class="form-control " placeholder="{{email}}" required>
              
                                                          <label for="email">{{email}}</label>
                                                    </div>
            
                                                    <div class="form-floating" style='margin-bottom:10px'>
            
                                                          <input type="tel" name="phone" id="phone" class="form-control" placeholder="phone" required>
              
                                                          <label for="phone">{{phone}}</label>
                                                      </div>
            
                                                    <div class="form-floating" style='margin-bottom:10px'>
                                                          <input type="text" name="address" id="address"  class="form-control" placeholder="Address" required>
              
                                                          <label for="address">{{address}}</label>
                                                      </div>
            
                                                  
            
                                                  <button type="submit" id='saveButton' class="btn custom-btn form-control mt-4 mb-3">
                                                     Update
                                                  </button>
            
                                                 
            
                                              </form>
                                          </div>
                                      </div>
                              </div>
                            </div>
                        </div>

                        <div class="row gutters-sm">
                              <div class="container">
                                    <h2>Your Orders</h2>
                                    {% comment %} <p>Quick management of the last 10 orders</p> {% endcomment %}
                            
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Order Id</th>
                                                    <th>Product name</th>
                                                    <th>description</th>
                                                    <th>Price</th>
                                                    <th>image</th>
                                                    <th>order status</th>
                                                    <th>date ordered</th>
                                                    <th>payment_status</th>
                                                </tr>
                                            </thead>
                                            
                                            
                                            
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{ order.pk }}</td>
                                                    <td>{{order.cart.cart_product.product_name}}</td>
                                                    <td>{{order.cart.cart_product.product_description}}</td>
                                                    <td>{{ order.cart.cart_product.product_price }} </td>
                                                    <td> <img src="{{ MEDIA_URL }}{{ order.cart.cart_product.product_image }}" width='40' height='40' alt={{order.cart.cart_product.product_name}}> </td>
                                                    <td>{{order.order_status}}</td>
                                                    <td>{{order.order_date}}</td>
                                                    <td> {{order.payment_status}} <td>
                                                      
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
              
                      </div>
                  </div>


        

        {% include 'footer.html' %}


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    
    <script>
      
      $(document).on('click', '.add-cart', function(e) {
            e.preventDefault();
            
            // Get the product ID from the data attribute of the clicked button
            var product_id = $(this).data('product-id');

            $.ajax({
                type: 'POST',
                url: '{% url "Add_Item_to_cart" %}',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                },
                error: function(xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
            location.reload();
        });
        
    </script>
   
</body>

</html>